<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <!-- 控制台输出 -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
                </Pattern>
            </layout>
        </appender>
        <!-- 所有项目日志输出到文件 -->
        <appender name="outputFile" class="ch.qos.logback.core.FileAppender">
            <file>ssm.log</file>
            <append>true</append>
            <encoder>
                <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            </encoder>
        </appender>
        <!-- 特定日志输出到指定文件 -->
        <appender name="userLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>user.%d{yyyy-MM-dd}.log</FileNamePattern>
            </rollingPolicy>
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
                </layout>
            </encoder>
            <!--日志文件最大的大小 -->
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>10MB</MaxFileSize>
            </triggeringPolicy>
         </appender>
        <!-- 精确设置每个包下面的日志
        <logger name="com" level="DEBUG">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="userLog" />
        </logger>-->
        <!-- myibatis log 配置-->
        <logger name="com.apache.ibatis" level="ERROR"/>
        <logger name="java.sql.Connection" level="DEBUG"/>
        <logger name="java.sql.Statement" level="DEBUG"/>
        <logger name="java.sql.PreparedStatement" level="DEBUG"/>
        <!-- 定义了ERROR和INFO级别的日志输出 -->
        <!-- 必须放到最后，不能放到最前面 -->
        <root level="ERROR">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="outputFile" />
        </root>
    </configuration>