<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.domain.CommonMapper">

    <select id="queryList" resultType="map">
        select account.id,account.num,user.username,user.password from account,user
    </select>

</mapper>